.cancel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.cancel-card {
    background: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    border-top: 10px solid black;
}

.text-danger {
    color: var(--ai-red);
    margin-bottom: 10px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid #ddd;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.btn-cancel {
    width: 100%;
    background: #000;
    color: white;
    border: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-cancel:hover {
    background: #333;
}
.btn-primary-large {
    background: var(--ai-red);
    width: 100%;
    color: white;
    border: none;
    padding: 10px 140px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary-large:hover {
    transform: translateY(-3px);
    background-color: #5e0470;
}