<div class="search-header">
  <div class="container">
    <h1>Search Your Flight</h1>
  </div>
</div>

<!-- Added margin-bottom directly to this wrapper to ensure gap even without results -->
<div class="container search-wrapper" style="margin-bottom: 100px;">
  
  <div class="search-panel">
    <div class="search-form">
      <div class="field autocomplete-container">
        <label>Trip Type</label>
        <select [(ngModel)]="searchData.tripType">
          <option value="ONE_WAY">One Way</option>
          <option value="ROUND_TRIP">Round Trip</option>
        </select>
      </div>
      <div class="field autocomplete-container">
        <label>Origin</label>
        <input type="text" [(ngModel)]="searchData.from" placeholder="Enter city / airport">
        <div class="error" *ngIf="errors.from">{{ errors.from }}</div>
      </div>
      <div class="field autocomplete-container">
        <label>Destination</label>
        <input type="text" [(ngModel)]="searchData.to" placeholder="Enter city / airport">
        <div class="error" *ngIf="errors.to">{{ errors.to }}</div>
      </div>

      <div class="field">
        <label>Departure Date</label>
        <input type="date" [(ngModel)]="searchData.travelDate">
        <div class="error" *ngIf="errors.date">{{ errors.date }}</div>
      </div>

    <!-- RETURN DATE (only when round trip) -->
      <div class="field" *ngIf="searchData.tripType === 'ROUND_TRIP'">
        <label>Return Date</label>
        <input type="date" [(ngModel)]="searchData.returnDate">
        <div class="error" *ngIf="errors.returnDate">{{ errors.returnDate }}</div>
      </div>
      <div class="field action">
          <button class="btn-search" (click)="onSearch()" [disabled]="loading">{{ loading ? 'Searching...' : 'FIND FLIGHTS' }}</button>
      </div>
    </div>
  </div>

  <div class="text-center">
    <small class="error" *ngIf="errors.general">
      {{ errors.general }}
    </small>
  </div>

  <!-- Flight Results Section -->
  <div class="results-container" *ngIf="flights.length > 0">
    <div class="flight-card" *ngFor="let f of flights">
      <div class="f-logo">
        <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-designs_343694-2506.jpg" alt="Logo">
      </div>

      <h3>{{ f.airline_name }} ({{ f.flightNumber }})</h3>

      <p>{{ f.fromPlace }} → {{ f.toPlace }}</p>

      <p>{{ f.departure | date:'shortTime' }} - {{ f.arrival | date:'shortTime' }}</p>

      <div class="f-price">
        <p class="price">₹ {{ (f.price*105.70).toFixed(0) }}</p>
        <button class="btn-primary" (click)="goToBooking(f)">Book Now</button>
      </div>
    </div>
  </div>
</div>