.profile-card {
    background: #333;
    color: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--ai-gold)
}

.avatar-circle {
    width: 65px;
    height: 65px;
    background: var(--ai-red);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.user-header {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--ai-light);
}

.user-meta h2 {
    margin: 0;
    color: var(--ai-light);
}

.status-badge {
    background: var(--ai-gold);
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.stats-grid {
    display: flex;
    gap: 40px;
}

.stat-item label {
    font-size: 12px;
    color: #777;
    font-weight: bold;
    text-transform: uppercase;
}

.stat-item p {
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    color: var(--ai-light);
}

/* Tile Grid */
.action-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.tile-box {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 5px solid #eee;
}

.tile-box:hover {
    transform: translateY(-10px);
    border-bottom-color: var(--ai-red);
    box-shadow: 0 15px 30px rgba(115, 12, 146, 0.15);
}

.tile-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.tile-box h3 {
    color: var(--ai-darkpurple);
    margin-bottom: 5px;
}

.tile-box p {
    color: #666;
    font-size: 14px;
}

.danger-border:hover {
    border-bottom-color: #333 !important;
}

/* Journey List */
.journey-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-left: 5px solid var(--ai-gold);
}

.route {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}

.plane {
    color: var(--ai-red);
}

.pnr-text {
    color: var(--ai-red);
    font-weight: 800;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-cancel-small {
    background: none;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.empty-state {
    text-align: center;
    padding: 50px;
}